@mixin border($length, $type, $color) {
  border: $length $type $color;
  box-sizing: border-box;
}

@mixin flex($flex, $justify-content, $align-items) {
  display: $flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

.loginMainContainer {
  background-color: #fff;
  border: 1px solid #dadce0;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  .loginContainer {
    padding: 30px;
    flex-direction: column;
    box-sizing: border-box;
    flex-direction: column;
    width: 33%;
    height: 90%;
    border-radius: 5px;
    @include border(1px, solid, #c3c4c7);
    @include flex(flex, center, center);

    .loginfundoofont {
      align-items: center;
      font-size: 22px;
      margin-bottom: 5px;
      font-weight: 500;
    }

    .logintitle {
      padding-top: 5px 5px 5px 5px;
      font-size: 20px;
      font-weight: 600;

      // @include border(1px, solid, #c3c4c7);
    }

    .loginSubTitle {
      padding-top: 5px;
      font-size: 18px;
      font-weight: 500;
      opacity: 0.6;
      // @include border(1px, solid, #c3c4c7);
    }

    .Input-Field {
      // @include border(1px, solid, #c3c4c7);
      width: 100%;
      height: 50%;

      .textField1 {
        height: 50%;
        width: 100%;
        // @include border(1px, solid, #c3c4c7);

        .InputField {
          height: 60%;
          width: 100%;
        }

        .MuiFormHelperText-contained {
          margin-left: 3px;
        }

        .error {
          padding-left: 1%;
          height: 21%;
          width: 100%;
          // @include border(1px, solid, #c3c4c7);
          @include flex(flex, center, center);

          .errorMessage {
            height: 100%;
            width: 100%;
            font-size: 12px;
          }
        }
      }

      .textField2 {
        height: 50%;
        width: 100%;
        // @include border(1px, solid, #c3c4c7);

        .InputField {
          height: 79%;
          width: 100%;
        }
        .MuiFormHelperText-contained {
          margin-left: 3px;
        }

        .error {
          padding-left: 1%;
          height: 21%;
          width: 100%;
          // @include border(1px, solid, #c3c4c7);
          @include flex(flex, center, center);

          .errorMessage {
            height: 100%;
            width: 100%;
            font-size: 12px;
          }
        }
      }
    }

    .radiobutton {
      width: 100%;
      height: 15%;
      @include flex(flex, center, center);
      flex-direction: row;
      // @include border(1px, solid, #c3c4c7);

      .radiobutton1 {
        height: 100%;
        width: 100%;
        @include flex(flex, center, flex-start);

        .admin-Radio-Button {
          width: 30%;
          // @include border(1px, solid, #c3c4c7);
        }

        .user-Radio-Button {
          width: 70%;
          // @include border(1px, solid, #c3c4c7);
        }
      }
    }

    .Lbutton3 {
      @include flex(flex, none, none);
      // @include border(1px, solid, #c3c4c7);
      width: 100%;
      .MuiButton-text {
        padding: 6px 0px;
      }
    }

    .buttonContainer {
      display: flex;
      flex-direction: row;
      padding-top: 20px;
      width: 100%;
      // @include border(1px, solid, #c3c4c7);

      .Lbutton1 {
        // margin-right: 140px;
        // @include border(1px, solid, #c3c4c7);
        @include flex(flex, flex-start, center);

        width: 50%;

        .CreateAccount {
          font-size: 15px;
          font-weight: 600;
        }
      }

      .Lbutton2 {
        // @include border(1px, solid, #c3c4c7);
        @include flex(flex, flex-end, center);
        width: 50%;
        .SignIn-btn {
        }
      }
    }

    .p {
      @include border(1px, solid, #c3c4c7);
      margin-bottom: 5px;
    }
  }
}

.error {
  color: red;
}

// .Forgetpassword {
//   font-size: 12px;
//   font-weight: 600;
// }

.errorMessage {
  font-size: 12px;
}

.FT {
  font-family: Helvetica;
}
